{% extends "base.html" %}
{% load static %}

{% block title %}
顧客訂單管理
{% endblock %}


{% block content %}
<div class="content">
  <script>
    document.querySelector('body > div.wrapper > div.sidebar > div.sidebar-wrapper > ul > li:nth-child(2)').classList.add('active')
    document.querySelector('body > div.wrapper > div.sidebar > div.sidebar-wrapper > ul > li.nav-item.active').classList.remove('active')
  </script>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <p class="card-category"> 顧客訂單</p>
          </div>
          <div class="card-body">
            <div class="form">
              <form method="POST" class="post-form" action="">
                {% csrf_token %}
                {{form2}}
                <select id="response" name="response">
                  <option selected="" class="select" name="response">&nbsp;請選擇更改狀態</option>
                  {% for key,value in form.SELVALUE %}
                  <option value="{{key}}" name="response">{{value}}</option>
                  {% endfor %}
                </select>
                <input type="submit" class="btn" value="更改" onclick="()=>window.location.reload();">
              </form>
            </div>
            <div id="refresh1">
              <div class="table-responsive" id='refresh'>
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      訂單編號
                    </th>
                    <th>
                      顧客編號
                    </th>
                    <th>
                      購買產品
                    </th>
                    <th>
                      數量
                    </th>
                    <th>
                      產品金額
                    </th>
                    <th>
                      收件地址
                    </th>
                    <th>
                      運費
                    </th>
                    <th>
                      付款金額
                    </th>
                    <th>
                      通路
                    </th>
                    <th>
                      下訂時間
                    </th>

                    <th>
                      包裹時間
                    </th>
                    <th>
                      到貨時間
                    </th>
                    <th>
                      訂單狀態
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      {% for order in orderlist %}
                    <tr>
                      <td>{{order.0}}</td>
                      <td>{{order.1}}</td>
                      <td>{{order.2}}</td>
                      <td>{{order.3}}</td>
                      <td>${{order.4}}</td>
                      <td>{{order.5}}</td>
                      <td>${{order.6}}</td>
                      <td>${{order.7}}</td>
                      <td>{{order.8}}</td>
                      <td>{{order.9}}</td>
                      <td>{{order.10}}</td>
                      <td>{{order.11}}</td>
                      <td>{{order.12}}</td>
                    </tr>
                    {% endfor %}
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }

  setInterval("my_function();", 1000);
  function my_function() {
    $('#refresh1').load(location.href + ' #refresh');
  }
</script>

{% endblock %}