{% extends "base.html" %}
{% load static %}

{% block title %}
Purchasing 
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../static/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/demo/demo.css" rel="stylesheet" />
</head>

<body class="dark-edition">

      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="form">
                <form method="POST" class="post-form" action="">
                  {% csrf_token %}
                  請輸入訂貨編號:<input type="text" name="pid" value="">
                  <input type="submit" class="btn" value="搜尋">
                </form>
              <div class="card">
                <div class="card-header card-header-primary">  
                  <p class="card-category"> 訂貨總覽</p>
                </div>
                <div class="card-body">
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          訂貨編號
                        </th>
                        <th>
                          訂貨時間
                        </th>
                        <th>
                          產品名稱
                        </th>
                        <th>
                          訂貨數量
                        </th>
                        <th>
                          訂貨成本
                        </th>
                        <th>
                          供應商
                        </th>
                        <th>
                          訂單狀態
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                            {% for p in purchasing_info %}
                        <tr>
                            <td>{{p.0}}</td>
                            <td>{{p.1}}</td>
                            <td>{{p.2}}</td>
                            <td>${{p.3}}</td>
                            <td>${{p.4}}</td>
                            <td>{{p.5}}</td>
                            <td>{{p.6}}</td>
                            <td>{{p.7}}</td>
                        </tr>
                         {% endfor %}
                        </tr> 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
                    
   
            </div>
        </div>
    </div>
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
</body>


</html>
{% endblock %}