<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Material Dashboard Dark Edition by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="dark-edition">

      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <p class="card-category"> Client's Order</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          訂單編號
                        </th>
                        <th>
                          顧客編號
                        </th>
                        <th>
                          購買產品
                        </th>
                        <th>
                          數量
                        </th>
                        <th>
                          產品金額
                        </th>
                        <th>
                          收件地址
                          </th>
                        <th>
                          運費
                        </th>
                        <th>
                          付款金額
                        </th>
                        <th>
                            通路
                        </th>
                        <th>
                          下訂時間
                          </th>

                        <th>
                          包裹時間
                        </th>
                        <th>
                          到貨時間
                        </th>
                        <th>
                          訂單狀態
                        </th>
                      </thead>
                      <tbody>
                      <form method="POST" class="post-form" action="">
                            {% csrf_token %}
                            
                        <tr>
                            {% for order in orderlist %}
                        <tr>
                            <td>{{order.0}}</td>
                            <td>{{order.1}}</td>
                            <td>{{order.2}}</td>
                            <td>{{order.3}}</td>
                            <td>{{order.4}}</td>
                            <td>{{order.5}}</td>
                            <td>{{order.6}}</td>
                            <td>{{order.7}}</td>
                            <td>{{order.9}}</td>
                            <td>{{order.10}}</td>
                            <td>{{order.11}}</td>
                            <td>{{order.12}}</td>
                            <td>  
                                <select id="response" name="response">
                                    <option selected="" class="select" name="response">{{order.8}}</option>
                                    {% for key,value in form.SELVALUE %}
                                        <option value="{{key}}" name="response">{{value}}</option>
                                    {% endfor %}
                                </select>
                                
                                <input type="submit" class="btn" value="更改">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tr>
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
      
   
    </div>
  </div>
  
</body>

</html>